.comment-index {
  position: relative;
  top: 15px;
  bottom: 15px;
}

.comment-index-item {
  display: flex;
  border: 1px solid black;}

.comment-index-item li {
  padding-left: 20px;
  flex-direction: column;

}

.comment-form {
  /* display: inline-block; */
  padding: 25px;
}

.comment-textarea {
  height: 150px;
  width: 400px;
}

.comment-form input::placeholder {
  text-align: left;

}
