.comment-index {
  position: relative;
  top: 15px;
  bottom: 15px;
}

textarea {
  resize: none;
}

.comments {
  padding: 15px 0;
  width: 40%;
}

.comment-btn {
  margin-top: 10px;
  margin-left: 300px;
  background: #188fff;
  height: 40px;
  font-size: 16px;
  color: white;
  /* padding: 10px; */
  font-family: 'Montserrat', sans-serif;

}

.comment-btn:hover {
  background: #3fa2ff;
}

.cmt-username-row {
  padding-top: 7px;
  color: #006dac;
  width: 400px;

}

.cmt-username-row span {
  padding-left: 20px;
  color: #898989;
}

.cmt-body {
  padding: 5px;
  overflow-wrap: break-word;
  font-family: 'Libre Franklin', sans-serif;

}

.comment-index-item {
  /* display: flex;
  justify-content: space-around; */
  width: 400px;
}

.comment-index-item:hover {
  /* background: yellow; */
  background: #e6f7ff;
}

/* .comment-index-item li {
  padding-left: 20px;
  flex-direction: column;

} */

.comment-form {
  /* display: inline-block; */
  padding: 25px;
}

.comment-textarea {
  height: 80px;
  width: 400px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px



}

.comment-form input::placeholder {
  /* text-align: left; */
  /* line-height: 24px; */
}

.delete-comment-btn {
  float: right;
  border: none;
  background: transparent;
}


.delete-comment-btn:hover {
  color: lightsteelblue;
  /* color: white; */
}

.fa-times {
  background: none;
  height: auto;
  font-size: auto;
  padding: 0;
  margin-right: 0px;
}
