.comment-index {
  position: relative;
  top: 15px;
  bottom: 15px;
}

.comments {
  padding: 15px 0;
}

.comment-btn {
  display: block;
  margin-top: 10px;
  margin-left: 300px;
}

.cmt-username-row {
  padding-top: 7px;
  color: #006dac;
}

.cmt-username-row span {
  padding-left: 20px;
  color: #898989;
}

.cmt-body {
  padding: 5px;
}

.comment-index-item {
  /* display: flex;
  justify-content: space-around; */

}

.comment-index-item li {
  padding-left: 20px;
  flex-direction: column;

}

.comment-form {
  /* display: inline-block; */
  padding: 25px;
}

.comment-textarea {
  height: 150px;
  width: 400px;
}

.comment-form input::placeholder {
  /* text-align: left; */
  /* line-height: 24px; */
}
