.tag-index-link {
  margin-right: 5px;
  // display: inline-block;
  // overflow: auto;

}

.tag-btn {
  -webkit-transition: width 2s;
 // width: 100px;
}

.tag-index-wrapper {
  width: 50%;
  margin-top: 10px;
}

.show-date-and-btns {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.show-bot-right {
  flex: 45%;
  // float: left;
  // margin-left: 300px;
  // display: inline-block;
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  // align-items: flex-end;
}

.show-bot-mid {
  flex: 10%;
}

.show-bot-left {
  display: flex;
  flex-direction: column;
  flex: 45%;
}

.tag-label {
  margin-bottom: 10px;
  margin-top: 10px;
}

.tag-and-comment-wrapper {
  display: flex;
  // flex-direction: row;
  // align-items: flex-start;
  justify-content: space-between;
}
