.album-index-container {
  // display: block;
  // margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}



.album-index {
  // width: 100px;
  // display: flex;
  // flex-direction: row;
    // display: flex;
    // justify-content: space-around;
    // flex-wrap: wrap;
    // padding-bottom: 40px;
}

.new-album-container {
  width: 100%;
}

.new-album-btn:hover {
  background: #3fa2ff;

}

.new-album-btn {

  // float: right;
  position: relative;
  top: 8px;
  background: #188fff;
  height: 40px;
  font-size: 16px;
  color: white;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.album-tile {
  // height: 300px;
  // width: 300px;
  // overflow-wrap: wrap;
  // margin: 1px;
  flex: 1 0 10em;
  margin: 1em;
  min-width: 350px;
  width: 25%;
  max-width: 700px;

}

.showme {
 height: 300px;
 width: 300px;
 // height: 100%;
 // width: 100%;

}

.album-tile-img {
  height: 300px;
  width: 300px;

}

.album-container-container {
  position: relative;
  // width: 50%;
}

.album-index-image {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666
}

.album-index-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  // background-color: #008CBA;
}


.album-container-container:hover .album-index-image {
  // opacity: 0.3;
}

.album-container-container:hover .album-index-overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


// .album-tile img {
//   display: block;
//   width: 100%;
//   -webkit-box-shadow: 0 10px 50px -6px #777;
//      -moz-box-shadow: 0 10px 50px -6px #777;
//           box-shadow: 0 10px 50px -6px #777;
// }

.album-tile h3 {
  padding-top: 5px;
}
