.album-index-container {
  // display: block;
  // margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.album-index {
  // width: 100px;
  // display: flex;
  // flex-direction: row;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.new-album-container {
  width: 100%;

}

.new-album-btn:hover {
  background: #3fa2ff;

}

.new-album-btn {

  // float: right;
  position: relative;
  top: 8px;
  background: #188fff;
  height: 40px;
  font-size: 16px;
  color: white;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.album-tile {
  // height: 300px;
  // width: 300px;
  // overflow-wrap: wrap;
  // margin: 1px;
  flex: 1 0 10em;
  margin: 1em;
}

.album-tile-img {
  height: 300px;
  width: 300px;
}

.album-tile img {
  display: block;
  width: 100%;
  -webkit-box-shadow: 0 10px 50px -6px #777;
     -moz-box-shadow: 0 10px 50px -6px #777;
          box-shadow: 0 10px 50px -6px #777;
}

.album-tile h3 {
  padding-top: 5px;
}
