.splash {

  background: url("https://static.pexels.com/photos/218983/pexels-photo-218983.jpeg");
  height: 100vh;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.splash-nav > button {
  font: normal 15px 'Proxima Nova', sans-serif;
  margin-right: 25px;
  float: right;
}



.splash-title {
  /* font-size: 10px; */
  text-align: center;
  margin: 0 auto;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,0);
  position: absolute;

}

.splash-title > h1  {
  font: normal 30px 'Proxima Nova', sans-serif;

}
