[class*='login-form'] {
  color: gray;
  font-family: arial;
}

.logn-form {
  font-family: helvetica;
}

.logn-form > button {
  padding: 10px;
}

.login-signup > img {
  height: 5px;
}

.error-display {
  height: 10px;
}

.submit-btn {
  width: 100%;
  background: #188fff;
  height: 46px;
}

.login-input {
  width: 100%;
  font-family: helvetica;
  height: 32px;
}

.login-update {
  width: 100%;
  font-family: helvetica;
  height: 32px;
}

.header-group {
  color: gray;
}

.header-name {
  color: gray;
}

a:hover {
 color: #c0c0c0;
 cursor: pointer;
}

button:hover {
  cursor: pointer;
  color: #c0c0c0;
}

h1 {
  font-size: 20px;
}

header {
  font: normal 15px 'Proxima Nova', sans-serif;
  background: url("https://static.pexels.com/photos/218983/pexels-photo-218983.jpeg");
}

.login-signup {
  font: normal 15px 'Proxima Nova', sans-serif;
  float: right;
}
