[class*='login-form'] {
  color: gray;
  font-family: arial;
}

.login-form-container {
  font-family: helvetica;

}

.logn-form {
  font-family: helvetica;
  // font-family: arial;
  top: 10px;
}

.logn-form > button {
  padding: 10px;
}

.login-form {

}

.login-signup > img {
  height: 5px;
}

input {
  // border: #000;
  // padding: 3px;
  // font-size: 1.2em;
  // font-family: Helvetica, Arial;
  // width: 100%;
}

.error-display {
  // height: 40px;
  // position: absolute;
  display: inline-block;
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit-btn {
  margin-top: 25px;
  width: 100%;
  background: #188fff;
  height: 46px;
  font-size: 16px;
  color: white;

}

.submit-btn:hover {
  background: #3fa2ff;
  cursor: pointer;
}

.demo-btn {
  margin-top: -5px;
  width: 100%;
  background: #188fff;
  height: 46px;
  font-size: 16px;
  color: white;
}

.demo-btn:hover {
  background: #3fa2ff;
  cursor: pointer;
}


.login-username {

  width: 100%;
  font-family: helvetica;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  // padding: 3px;
  padding: 3px;
  font-size: 1.2em;
  font-family: Helvetica, Arial;
}

.login-password {
  width: 100%;
  font-family: helvetica;
  height: 40px;
  margin: 3px;
  padding: 3px;
  font-size: 1.2em;
  font-family: Helvetica, Arial;

}

// input[type=text]:focus {
//     background-color: lightblue;
// }

input:focus::-webkit-input-placeholder {
  color: dodgerblue;
}

.header-group {
  color: gray;
}

.header-name {
  color: gray;
}

.login-signup {
  font: normal 15px 'Proxima Nova', sans-serif;
  float: right;
}
