.fa-cloud-upload-alt {
  font-size: 36px;
  background: black;
  color: white;
}

.header-group {
  display: flex;
  // background-color: #383838;
  background-color: #181818;
  justify-content: flex-end;
  height: 65px;
}

.header-name {
  // align-self: flex-end;
  position: relative;
  top: 27px;
  right: 13px;
  color: WhiteSmoke;
  font: Helvetica;
}

.header-button {
  // align-self: flex-end;
  // position: relative;
  height: 30px;
  font: normal 15px 'Proxima Nova', sans-serif;
  margin-right: 25px;
  float: right;
  position: relative;
  top: 20px;
  padding: 15px;
  padding-top: 5px;
  background: transparent;
  border: 2px solid white;
  color: white;
}

.header-group button:hover {
  color: #c0c0c0;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
}



.header-logo {
  font: normal 40px 'Proxima Nova', sans-serif;
  top: 8px;
  position: absolute;
  color: white;
  left: 15px;
  // display: inline-block;
  text-shadow: 2px 2px 5px black, 0 0 25px gray, 0 0 5px gray;
  // align-self: flex-start;
}
