.masonry {

  @media (min-width: 511px) {columns: 2;}
  @media (min-width: 769px) {columns: 4;}
  @media (min-width: 1440px) {columns: 5;}
  .masonry-item {
    width: 100%;
    display: block;
  }
}

.tag-photo-wrapper {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.tag-photo-wrapper h2 {
  margin-bottom: 20px;
}
