.show h1 {
  font-size: 33px;
}

.show h3 {
  font-size: 19px;
}

.owner-btns {
  padding: 5px;
}

.photo-edit-btn {
  background: #188fff;
  height: 40px;
  font-size: 16px;
  color: white;
  padding: 10px;
  // margin-right: 7px;
}

.photo-edit-btn:hover {
  background: #3fa2ff;
}

.photo-del-btn:hover {
  background: #3fa2ff;
}

.photo-del-btn {
  background: #188fff;
  height: 40px;
  font-size: 16px;
  color: white;
  padding: 10px;
  margin-left: 7px;
  font-family: 'Montserrat', sans-serif;
}

.show-bot-half {
  // width: 100%;
  padding-left: 160px;
  padding-right: 160px;
  padding-bottom: 50px;
  display: flex;
  margin-top: 20px;
}

.show-bot-half button:hover {
  // background: #3fa2ff;
  cursor: pointer;
}

.show-image {
  background: #212124;
}

.show-image img {
  height: auto;
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.photo-date {
  padding: 0 5px 5px 5px;
  font-size: 20px;
}

.photo-show-title {
  // display: inline-block;
  // padding: 15px 0 0;
  // font-family: 'Libre Franklin', sans-serif;
  // width: 40%;
}

.photo-show-description {
  padding: 5px 0 15px 0;
  // font-family: 'Libre Franklin', sans-serif;
  // width: 40%;
}

.photo-edit-btn {
  font-family: 'Montserrat', sans-serif;
}

.photo-edit-title {
  padding: 5px;
}

.photo-edit-modal-form input[type='text'] {
  // font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
  border: 1px solid gray;
}

.photo-edit-description {
  // font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
  padding: 5px;
}
