.photo-show-modal {

  position: absolute;
  top: 300px;
  left: 50%;
  right: 50%;
  margin-left: -100px;
  // transform: translate(-50%,75%);
  width: 300px;
  height: auto;
  padding: 20px;
  background: #fff;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #000;
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;

  // box-shadow: 1px 1px AliceBlue;
}

.photo-modal-edit-btn {
  margin-top: 10px;
  width: 100%;
  background: #188fff;
  height: 46px;
  font-size: 16px;
  color: white;
}

.photo-edit-title {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 4px;
  font: 18px helvetica;
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;

}

.photo-edit-description {
  height: 50px;
  width: 100%;
  margin-top: 4px;
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;

}

.photo-show-overlay {
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;


  /* opacity: .5; */
}
