
.show h1 {
  font-size: 33px;
}

.show h3 {
  font-size: 19px;
}

.show {

}


.owner-btns {
  padding: 5px;
  float: right;
}

.photo-edit-btn {
  background: #188fff;
  height: 40px;
  font-size: 16px;
  color: white;
  padding: 10px;
  // margin-right: 7px;
}

.photo-edit-btn:hover {
  background: #3fa2ff;
}

.photo-del-btn:hover {
  background: #3fa2ff;
}

.photo-del-btn {
  background: #188fff;
  height: 40px;
  font-size: 16px;
  color: white;
  padding: 10px;
  margin-left: 7px;
}

.show-bot-half {
  // width: 1000px;
  width: 100%;
  // margin: 0 auto;
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
  // display: flex;
  // flex-direction: row;
  // align-content: space-between;
  // justify-content: flex-start;
  padding-left: 160px;
  padding-right: 160px;
  padding-bottom: 50px;
}



.show-bot-half button {
  // background: #188fff;
  // height: 40px;
  // font-size: 16px;
  // color: white;
  // padding: 10px;
  // margin-right: 7px;
}

.show-bot-half button:hover {
  // background: #3fa2ff;
  cursor: pointer;
}


.show-image {
  background: #212124;

}

.show-image img {
  // width: 900px;
  // max-width: 100%;
  // max-height: 900px;
  height: 713px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.date-and-btns {

}

.photo-date {
  padding: 5px;
}

.show-image-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%
}

.photo-show-top-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 9px 0 0 0;
}

.photo-show-title {
  // display: inline-block;
  // padding: 15px 0 0;
  font-family: 'Libre Franklin', sans-serif;
  width: 40%;
}

.photo-show-description {
  padding: 5px 0 15px 0;
  font-family: 'Libre Franklin', sans-serif;
  width: 40%;
}

.photo-edit-btn {

}

.photo-edit-title {

}

.photo-edit-modal-form input[type=text] {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;

}

.photo-edit-title:hover {

}

.photo-edit-description {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;

}
